Makefile
Makefile.conf
.coqdeps.d
.lia.cache
*.vo
*.vok
*.vos
*.glob
.*.aux
*.d
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.nav
*.out
*.pdf
*.snm
*.toc
*.synctex.gz
*.vrb
*~
White_paper/out/
.DS_Store

# Local correspondence / meeting prep with Shao
Shao*/
